
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    
}
body{
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    z-index: -5;
}




@import "tailwindcss";

.PhoneInputInput{
    outline: none;
}

@theme {
    /* BACKGROUNDS */

    --bg-page: #F7F7F7;    /* main page background */
    --bg-card: #F6F7FB;    /* cards, panels, sections */
    --bg-muted: #F2F3F8;    /* subtle backgrounds / containers */

    /* TEXT */
    --text-base: #1C274C;    /* default readable text */
    --text-heading: #3C50E0;    /* headings / titles */
    --text-dark : #000000;   /* Dark for more focus */
    --text-muted: #606882;    /* secondary text, icons, placeholders */

    /* ACCENTS / BUTTONS */
    --accent-primary: #1C274C;    /* primary buttons, links */
    --accent-secondary: #3C50E0;    /* secondary buttons, backgrounds */

    /* HOVER */
    --accent-primary-hover: #182145;  
    --accent-secondary-hover: #3344C4;    

    /* BORDERS */
    --border-default: #F2F4F7;    /* cards, inputs, separators */
}